@import url('https://fonts.googleapis.com/css?family=Bungee Spice');
@import url('https://fonts.googleapis.com/css?family=Allerta Stencil');

body {
  font-family: 'Bungee Spice';
}

.kulas {
  font-family: 'Allerta Stencil';
}

.bungee {
  font-family: 'Bungee Spice';
}


