@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Protest Riot');
@import url('https://fonts.googleapis.com/css?family=Protest Guerrilla');

/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;
$code-color: hotpink;
$presentation-title-slide-text-align: right;
$presentation-title-slide-text-color: white;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.title {
  color: white !important;
}

.quarto-title-author-name {
  font-size: 65px;
  color: white !important;
  font-weight: bold;
  font-family: 'Dancing Script';
}

.steel {
  color: #3d7ba2;
}

.kulas2 {
  font-size: 80px;
  text-decoration: underline;
  color: #34eba8;
  font-family: 'Protest Riot';
}

.kulas3 {
  font-size: 80px;
  text-decoration: underline;
  color: #3d7ba2;
  font-family: 'Protest Guerrilla';
}
