@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Pirata One');
@import url('https://fonts.googleapis.com/css?family=Protest Riot');
@import url('https://fonts.googleapis.com/css?family=Protest Guerrilla');
@import url('https://fonts.googleapis.com/css?family=Lobster Two');
@import url('https://fonts.googleapis.com/css?family=Indie Flower');
@import url('https://fonts.googleapis.com/css?family=Londrina Solid');
@import url('https://fonts.googleapis.com/css?family=Lovers Quarrel');
@import url('https://fonts.googleapis.com/css?family=Poetsen One');
@import url('https://fonts.googleapis.com/css?family=Notable');
@import url('https://fonts.googleapis.com/css?family=Spicy Rice');
@import url('https://fonts.googleapis.com/css?family=Kalnia Glaze');
@import url('https://fonts.googleapis.com/css?family=Permanent Marker');
@import url('https://fonts.googleapis.com/css?family=Rock Salt');
@import url('https://fonts.googleapis.com/css?family=Shojumaru');
@import url('https://fonts.googleapis.com/css?family=Fascinate Inline');
@import url('https://fonts.googleapis.com/css?family=Fleur De Leah');
@import url('https://fonts.googleapis.com/css?family=Gloria Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Silkscreen');
@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Sixtyfour Convergence');

/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;
$code-color: hotpink;
$presentation-title-slide-text-align: left;
$presentation-title-slide-text-color: black;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.title {
  color: 	#ffefdb !important;
}

.quarto-title-author-name {
  font-size: 4em;
  color: 	white;
  font-weight: bold;
  font-family: 'Dancing Script';
  text-shadow: 
    -4px -2px 7px black,
    7px 9px 5px black
}

/*-- supposedly helps with content overflow --*/
.slides {
    overflow-y: auto;
}

.center h2 {
  text-align: center;
}

.shiny {
  color: #FDFEFF;           /* #00c0a3 */
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 3px #ffdd4d,
    -2px -2px 3px #ffdd4d !important;
}

.my_class1 {       /* code chunk dimensions */
height: 300px;
width: 450px;
}

.my_class2 {       /* code chunk dimensions */
height: 200px;
width: 10px;
}

.mirror {
  transform: rotateY(180deg);
}

.ninety {
  transform: rotateY(90deg);
}

.tilt {
  rotate: 30deg;
}

.reveal .custom7030 > div.column:first-child {
  width: 70%;
}
.reveal .custom7030 div.column:not(:first-child) {
  width: 30%;
}
                   /* https://stackoverflow.com/questions/73460033/how-to-change-code-block-height-and-width-in-quarto-presentation */
                   
.leaflet {
  font-family: 'Fleur De Leah';
  font-size: 1.5em;
  color: #0f4d0f;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  }
  
.bigger {
  font-size: 1.5em;
}