/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Fontdiner Swanky');
@import url('https://fonts.googleapis.com/css?family=Mona Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Joti One');
@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Grechen Fuemen');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Shadows Into Light');
@import url('https://fonts.googleapis.com/css?family=Gochi Hand');

$presentation-title-slide-text-align: right;

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-line-height: 1.4;

.quarto-title-author-name {
  font-size: 65px;
  color: 	white;
  font-weight: bold;
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 2px black,
    -3px -3px 3px black;
}

// colors
$body-bg: #e9cee5; 
$body-color: #a92777;
$link-color: #c94f8e;
$selection-bg: #2a1625;              

// headings
$presentation-heading-font: "Fontdiner Swanky", "Book Antiqua", Palatino,
  FreeSerif, serif !default;             
$presentation-heading-color: #a92777 !default;
$presentation-h1-text-shadow: 7px 7px #222;
$presentation-heading-text-shadow: 5px 5px #222;

// callouts

$callout-color-note: #a92777;
$callout-border-scale: -20%;

// code blocks 

/*$code-block-bg: #241f23;*/
$code-block-border-color: #a92777;

/*-- scss:mixins --*/

// Background generator
@mixin bodyBackground() {
  @include radial-gradient(#f2bbea, #faf5f9);
}

// underlining hyperlinks to make them stand out a bit more

.reveal a { text-decoration: underline; }

/*-- scss:rules --*/

.titleauthor {
  font-size: 65px;
  color: 	white;
  font-weight: bold;
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 2px black,
    -3px -3px 3px black;
}

.titlestyle {
  color: 	#a92777;
  font-weight: bold;
  font-family: 'Fontdiner Swanky';
  text-shadow: 
    5px 5px 0px #222;
}

// tilts, mirrors, etc 

.underline {
  text-decoration: underline;
}

.mirror {
  transform: rotateY(180deg);
}

.tilt {
  rotate: 20deg;
}

.tilt2 {
  rotate: -20deg;
}

.smaller {
  font-size: .9em;
}

.Smaller {
  font-size: .8em;
}

.bigger {
  font-size: 1.4em;
}

.Bigger {
  font-size: 2em;
}

// fonts

.copilot2 {
  font-family: "Oswald";
  color: transparent; /* Make the text color transparent to show the gradient */
  background: linear-gradient(to bottom, #1E90FF 50%, #9146bd 100%); /* Gradient from purple to blue */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text; /* Standard property for broader support */
  --fade-start: 50%; /* Kept for consistency, though not used here */
  font-weight: bold;
}

.copilot3 {
  font-family: "Oswald";
  color: transparent; /* Make the text color transparent to show the gradient */
  background: linear-gradient(to bottom, #1E90FF 50%, #9146bd 100%); /* Gradient from purple to blue */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text; /* Standard property for broader support */
  --fade-start: 50%; /* Kept for consistency, though not used here */
  font-weight: bold;
  text-shadow: 0px 0px !important;
}

.themingpink{
  color: #db72b6;
  font-family: "Fontdiner Swanky";
  text-shadow: 
    0px 0px 0px #2c528f,
    -5px -5px 0px #2c528f !important;
}

.themingblue{
  color: #2c528f;
  font-family: "Fontdiner Swanky";
  text-shadow: 
    0px 0px 0px #db72b6,
    -4px -4px 0px #db72b6 !important;
}

.foreground-image {
  z-index: 1000 !important;
}

.chatter {
  color: white;
  font-family: "Joti One";
  text-shadow: 
    4px 4px 0px black,
    -2px -2px 2px black !important;
}

.positron {
  color: #ffecf2; //#ffecf2
  font-family: "Michroma";
  text-shadow: 
    1px 1px 0px black,
    -1px -1px 0px black !important;
}

.supergirl {
  color: #f11712; 
  font-family: "Bangers";
  text-shadow: 
    2px 2px 2px #34f9fe,
    -2px -2px 2px #34f9fe !important;
}

.tangerine {
  color: #000; 
  font-family: "Tangerine";
  font-size: 3em;  
  font-weight: normal !important;
  text-shadow: 
    2px 2px 2px white,
    -2px -2px 2px #a92777 !important;
}

.tangerine2 {
  color: #000; 
  font-family: "Tangerine";
  font-weight: normal !important;
  text-shadow: 
    1px 1px 1px white,
    -1px -1px 1px #a92777 !important;
}

.titans {
  color: #FAFDFF; 
  font-family: Grechen Fuemen;
  text-shadow: 
    3px 3px 5px #00f0ff,
    -3px -3px 5px #00f0ff !important;
}

.titans2 {
  color: #FAFDFF; 
  font-family: Grechen Fuemen;
  text-shadow: 
    2px 2px 4px #04d9ff,
    -2px -2px 4px #04d9ff !important;
}

.automobile {
  color: #f5276c; 
  font-family: Lobster;
  font-weight: normal !important;
  text-shadow: 
    -3px -3px 0px white,
    3px 3px 0px black !important;
}

.auto2 {
  color: #f5276c; 
  font-family: Lobster;
  font-weight: normal !important;
  text-shadow: 
    2px 2px 0px black !important;
}

.speech {
  color: #db72b6; 
  font-weight: normal !important;
  font-family: Shadows Into Light;
  text-shadow: 
    1px 1px 0px #a92777 !important;
}

.gochi {
  color: #f4bc1c; 
  font-family: Gochi Hand;
  text-shadow: 
    1px 1px 0px black;
}