@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Pirata One');
@import url('https://fonts.googleapis.com/css?family=Protest Riot');
@import url('https://fonts.googleapis.com/css?family=Protest Guerrilla');
@import url('https://fonts.googleapis.com/css?family=Lobster Two');
@import url('https://fonts.googleapis.com/css?family=Indie Flower');
@import url('https://fonts.googleapis.com/css?family=Londrina Solid');
@import url('https://fonts.googleapis.com/css?family=Lovers Quarrel');

/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;
$code-color: hotpink;
$presentation-title-slide-text-align: left;
$presentation-title-slide-text-color: black;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.title {
  color: 	white !important;
    text-shadow: 
    3px 3px 3px black,
    -3px -3px 3px black !important;
}

.quarto-title-author-name {
  font-size: 65px;
  color: 	white;
  font-weight: bold;
  font-family: 'Dancing Script';
  text-shadow: 
    3px 3px 3px black,
    -3px -3px 3px black
}

/*-- supposedly helps with content overflow --*/
.slides {
    overflow-y: auto;
}

.oldenglish {
  font-family: 'Pirata One';
}

.kulas {
  font-size: 60px;
  color: #03c6fc;
  font-family: 'Dancing Script';
}

.kulas3 {
  font-size: 80px;
  color: #eb03fc;
  font-family: 'Dancing Script';
}

.kulas2 {
  font-size: 60px;
  color: #34eba8;
  font-family: 'Dancing Script';
}

.kulascol {
  color: white;
  font-family: 'Lovers Quarrel';
}

.kulascol3 {
  color: white;
  font-family: 'Londrina Solid';
  text-shadow: 10px 12px 4px #36454f !important;
}

.kulascol2 {
  color: #34eba8;
  font-family: 'Londrina Solid';
}

.crossstyle {
  font-size: 80px;
  text-decoration: underline;
  color: #34eba8;
  font-family: 'Protest Riot';
}

.crossmethod {
  font-size: 80px;
  text-decoration: underline;
  color: #3d7ba2;
  font-family: 'Protest Guerrilla';
}

.center h2 {
  text-align: center;
}

.shiny {
  font-size: 80px;
  color: #00c0a3;           /* #00c0a3 */
  font-family: 'Lobster Two';
  text-shadow: 
    3px 3px 4px black,
    -3px -3px 4px black !important;
}

.smaller {
  font-size: 80%;
}

.my_class1 {       /* code chunk dimensions */
height: 300px;
width: 450px;
}

.my_class2 {       /* code chunk dimensions */
height: 300px;
}