@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Pirata One');
@import url('https://fonts.googleapis.com/css?family=Protest Riot');
@import url('https://fonts.googleapis.com/css?family=Protest Guerrilla');
@import url('https://fonts.googleapis.com/css?family=Lobster Two');
@import url('https://fonts.googleapis.com/css?family=Indie Flower');
@import url('https://fonts.googleapis.com/css?family=Londrina Solid'); 
@import url('https://fonts.googleapis.com/css?family=Lovers Quarrel');
@import url('https://fonts.googleapis.com/css?family=Poetsen One'); 
@import url('https://fonts.googleapis.com/css?family=Notable');  
@import url('https://fonts.googleapis.com/css?family=Spicy Rice');
@import url('https://fonts.googleapis.com/css?family=Kalnia Glaze');
@import url('https://fonts.googleapis.com/css?family=Permanent Marker');
@import url('https://fonts.googleapis.com/css?family=Rock Salt');
@import url('https://fonts.googleapis.com/css?family=Shojumaru');
@import url('https://fonts.googleapis.com/css?family=Fascinate Inline'); 
@import url('https://fonts.googleapis.com/css?family=Fleur De Leah');
@import url('https://fonts.googleapis.com/css?family=Gloria Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Silkscreen');
@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Nabla');
@import url('https://fonts.googleapis.com/css?family=Agu Display');
@import url('https://fonts.googleapis.com/css?family=Arizonia');
@import url('https://fonts.googleapis.com/css?family=Ballet');
@import url('https://fonts.googleapis.com/css?family=Italianno');

/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;
$code-color: hotpink;
$presentation-title-slide-text-align: left;
$presentation-title-slide-text-color: black;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.title {
  color: 	#ffefdb !important;
    text-shadow: 
    5px 5px 5px black,
    -5px -5px 5px black !important;
}

.quarto-title-author-name {
  font-size: 65px;
  color: 	white;
  font-weight: bold;
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 2px black,
    -3px -3px 3px black
}

/*-- supposedly helps with content overflow --*/
.slides {
    overflow-y: auto;
}

.oldenglish {
  font-family: 'Poetsen One';
}

.kulas {
  font-size: 60px;
  color: #03c6fc;
  font-family: 'Dancing Script';
}

.kulas3 {
  font-size: 35px;
  font-weight: bold;
  color: #ff99ff;
  font-family: 'Dancing Script';
}

.kulas2 {
  font-size: 60px;
  color: #34eba8;
  font-family: 'Dancing Script';
}

.kulascol {
  color: white;
  font-family: 'Lovers Quarrel';
}

.kulascol3 {
  color: white;
  font-family: 'Londrina Solid';
  text-shadow: 10px 12px 4px #36454f !important;
}

.kulascol2 {
  color: #34eba8;
  font-family: 'Londrina Solid';
}

.crossstyle {
  font-size: 80px;
  text-decoration: underline;
  color: #34eba8;
  font-family: 'Protest Riot';
}

.crossmethod {
  font-size: 80px;
  text-decoration: underline;
  color: #3d7ba2;
  font-family: 'Protest Guerrilla';
}

.center h2 {
  text-align: center;
}

.shiny {
  font-size: 80px;
  color: #FDFEFF;           /* #00c0a3 */
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 3px #ffdd4d,
    -2px -2px 3px #ffdd4d !important;
}

.shiny2 {
  color: #FDFEFF;           /* #00c0a3 */
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 3px #ffdd4d,
    -2px -2px 3px #ffdd4d !important;
}

.shiny3 {
  color: #FDFEFF;           /* #00c0a3 */
  font-family: 'Dancing Script';
  font-size: 80px;
  text-transform: lowercase;
  text-shadow: 
    2px 2px 3px #ffdd4d,
    -2px -2px 3px #ffdd4d !important;
}

.apa {
  color: #184978;     /* #0B809F; */        
  font-family: 'Rye';
}

.diagram {
  color: #9FF6E3;
  font-family: 'Notable';
}

.mermaid {
  font-family: 'Kalnia Glaze';
  font-size: 150%;
  font-weight: bold;
}

.smaller {
  font-size: 80%;
}

.my_class1 {       /* code chunk dimensions */
height: 300px;
width: 450px;
}

.my_class2 {       /* code chunk dimensions */
height: 200px;
width: 10px;
}

.mirror {
  transform: rotateY(180deg);
}

.ninety {
  transform: rotateY(90deg);
}

.tilt {
  rotate: 20deg;
}

.tilt2 {
  rotate: -20deg;
}

.reveal .custom7030 > div.column:first-child {
  width: 70%;
}
.reveal .custom7030 div.column:not(:first-child) {
  width: 30%;
}

.reveal .custom6040 > div.column:first-child {
  width: 60%;
}
.reveal .custom6040 div.column:not(:first-child) {
  width: 40%;
}

.reveal .custom4060 > div.column:first-child {
  width: 40%;
}
.reveal .custom4060 div.column:not(:first-child) {
  width: 60%;
}

.reveal .custom5050 > div.column:first-child {
  width: 50%;
}
.reveal .custom5050 div.column:not(:first-child) {
  width: 50%;
}
                   /* https://stackoverflow.com/questions/73460033/how-to-change-code-block-height-and-width-in-quarto-presentation */
                   
.protestriot {
  font-family: 'Protest Riot';
}

.pirate {
  color: #c2b236;
  font-family: 'Pirata One';
  font-style: italic;
}

.lbox {
  font-size: 60px;
  color: #FDFEFF;           /* #00c0a3 */
  font-family: 'Poetsen One';
  text-shadow: 
    3px 3px 3px #8ffcff,
    -3px -3px 3px #8ffcff !important;
}

.blue1 {
  color: #03045e;
}
.blue2 {
  color: #023e8a;
}
.blue3 {
  color: #0077b6;
}
.blue4 {
  color: #0096c7;
}
.blue5 {
  color: #00b4d8;
}
.blue6 {
  color: #48cae4;
}
.blue7 {
  color: #90e0ef;
}
.blue8 {
  color: #ade8f4;
}

.pmarker {
  color: #b6d0e2;
  font-family: 'Permanent Marker';
}

.electric {
  font-family: 'Shojumaru';
  font-style: italic;
  color: #FDFEFF;           /* #00c0a3 */
  text-shadow: 
    3px 3px 3px #B026FF,
    -3px -3px 3px #8ffcff !important;
}

.leaflet {
  font-family: 'Fleur De Leah';
  font-size: 1.5em;
  color: #0f4d0f;
}

.leaflet2 {
  font-family: 'Fleur De Leah';
  color: #adebb3;
}

.leaflet_lower {
  font-family: 'Fleur De Leah';
  text-transform: lowercase !important; 
  color: #adebb3;
}  

.threejs {
  font-family: 'Gloria Hallelujah';
  font-size: 140px;
  color: #6495ED;
}  

.dygraphs {
  font-family: 'Silkscreen';
  color: #e0115f;
}  

.widgets {
  font-family: 'Fascinate Inline';
  color: #d4bf85;
}  

.creepy {
  font-family: 'Creepster';
  color: #ffde21;
} 

.creepyBig {
  font-family: 'Creepster';
  font-size: 1.7em;
  color: #ffde21;
}  

.navigation {
  font-family: 'Pirata One';
  color: #ffefdb;
} 

.bloody {
  font-family: 'Nosifer';
  color: #568203;
  text-shadow: 
    6px 6px 1px black;
} 

.election {
  font-family: 'Londrina Solid';
  font-size: 1.7em;
  color: #77b1d4;
} 

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  }
  
.launch {
  font-family: 'Nabla';
}

.tinkerbell {
  font-family: "Arizonia";
  color: #f9e79b;
  font-size: 1.5em;
}

.tinkerbell2 {
  font-family: "Arizonia";
  color: #f9e79b;
}

.ballet {
  font-family: "ballet";
  color: #009E60;
  font-size: 1.2em;
  text-shadow: 
   2px 2px 1px #00ff00 !important;
}

.ballet3 {
  font-family: "ballet";
  color: #009E60;
  text-transform: lowercase !important; 
  font-size: 1.2em;
  text-shadow: 
   2px 2px 1px #00ff00 !important;
}

.bigger {
  font-size: 1.5em;
}

.thicker {
  font-weight: bold;
}

.spotlight {
  font-family: "Notable";      /* Notable Fascinate Inline */
  color: #89CFF0;
  text-shadow: 
   -5px 3px 2px #0047ab !important;
}

.talian{
  font-family: "Italianno";
  font-size: 3em;
  color: #c4a747;
}

.talian2{
  font-family: "Italianno";
  font-size: 1.5em;
  color: #c4a747;
}

