.crazy-callout {
  margin: 1.5em 0;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.crazy-callout-header {
  display: flex;
  align-items: center;
}

.crazy-callout-icon {
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -1.4rem;
  padding-right: 1.8rem;
}

.crazy-callout-body {
  line-height: 1.45;
}